# Virtual environments
.venv/
venv/
*/.venv/

# Python cache
__pycache__/
*.pyc

# Jupyter
.ipynb_checkpoints/

# Data (don't commit raw data)
data/raw/
data/cleaned
data/*.csv
data/*.xlsx
data/*.parquet

# Models / outputs
models/*
!models/.gitkeep
mlruns/
*.pkl
*.joblib

# OS
.DS_Store
Thumbs.db
